# Java
*.class
hs_err_pid*
replay_pid*

# Gradle build output
**/build/
.gradle/

# IntelliJ IDEA
.idea/
*.iml
out/

# frontend build
frontend/node_modules/


# Garage
garage/data/
garage/meta/
garage/garage.toml
garage/garage-s3.env

# Файлы подключений к Garage
parsing/common/s3_settings.env
parsing-task-orchestrator-microservice/s3_settings.env
api-gateway-microservice/s3_settings.env

# Файлы с рандомными ключами
api-gateway-microservice/security.env

# Файлы с настраиваемыми ключами
parsing-task-orchestrator-microservice/llm.env

# Игнорировать содержимое папки models, но не саму папку
parsing/text_recognition/models/*
!parsing/text_recognition/models/.gitkeep