services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: extraction_results
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:

