<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Home</title>
    </head>
    <body>
        <form th:action="@{/parse/startparsing}" th:object="${params}" method="post">
            <span>url</span>
            <input th:field="*{url}">
            </p>
            <span>jsonStr</span>
            <input th:field="*{jsonStr}">
            </p>
            <button type="submit">Отправить</button>
        </form>

        <h1 th:text="'Result: ' + ${result}"></h1>
        <h1 th:text="'Status: ' + ${status}"></h1>

    </body>
</html>