# Параметры S3 хранилища
S3_ACCESS_KEY=GK0ba1377db44258ea7872ee9f
S3_SECRET_KEY=30a734db4866b4b82dd7a1d5192d88fd3a5067abe6ca3b305c3149700cb20c82
S3_ENDPOINT_URL=http://garage:3900
S3_PATH_STYLE_ACCESS=true
S3_REGION_NAME=garage

S3_DEFAULT_BUCKET_NAME=garage-default-bucket
S3_CUSTOM_TTL_BUCKET_NAME=garage-custom-ttl-bucket
