# Параметры S3 хранилища
S3_ACCESS_KEY=<CHANGE_ME_ACCESS_KEY>
S3_SECRET_KEY=<CHANGE_ME_SECRET_ACCESS_KEY>
S3_ENDPOINT_URL=http://garage:3900
S3_PATH_STYLE_ACCESS=true
S3_REGION_NAME=garage

S3_DEFAULT_BUCKET_NAME=garage-default-bucket
S3_CUSTOM_TTL_BUCKET_NAME=garage-custom-ttl-bucket
